div{
    background-color: rgba(237, 190, 96, 0.548);
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.heading,
#title{
  font-family: 'Afacad';
}
#title {
  font-size: 56px;
  text-align: center;
  background-color: rgba(96, 195, 220, 0.646);
}
